*{
    padding: 0;
    margin: 0;
}

.container-login {
    background: linear-gradient(slateblue, violet) ;
    height: 100vh;
}

.header-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 110px;
    align-items: center;
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
}

.header-login img {
    padding-top: 20px;
    width: 10%;
}

.form-login {
    width: 500px;
    margin: auto;
    border-radius: 50px;
    background: hsl(0 0% 100% / 0.2);
    padding: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.form-login img {
    width: 25%;
}

.form-head-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 800;
    gap: 10px;
}

.list-input-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    padding-top: 20px;
}

.input-login {
    background: none;
    height: 40px;
    border: 2px solid white;
    border-radius: 30px;
    margin: 5px;
    padding: 10px;
    font-size: 1rem;
    color: white;
    transition: 0.4s;
}

.button-login {
    height: 40px;
    border: 2px solid  rgba(255, 255, 255, 0.65);
    border-radius: 30px;
    margin: 5px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: transparent;
}

.button-login:hover {
    transform: scale(0.95);
    background: hsl(0 0% 100% / 0.1)
}


.input-login::placeholder {
    color: #fff;
}

.input-login:focus {
    outline: none;
    color: white;
    transform: scale(1.05);
}

@media (max-width: 1100px) {

    .header-login img {
        padding-top: 20px;
        width: 15%;
    }

}

@media (max-width: 700px) {

    .form-login {
        width: 300px;
        text-align: center;
    }

    .header-login img {
        padding-top: 20px;
        width: 20%;
    }

    .form-login img {
        width: 35%;
    }

}

@media (max-width: 450px) {

    .form-login {
        width: 200px;
    }

    .header-login img {
        padding-top: 20px;
        width: 20%;
    }
    
    .list-input-login {
        width: 250px;
    }
    
    .input-login {
        height: 30px;
    }
    
    .form-login img {
        width: 35%;
    }
    
    .form-head-login {
        width: 250px;
    }

}